body {
  background-image: url(./Hexagon-dotted-connect-line-background.jpg);
  background-repeat: none;
}

section {
  height: 120vh;
}

.name {
  width: 200px;
  border: none;
  font: 400 1rem system-vi;
  padding: 10px 0pxpx;
  border-bottom: 3px solid #333;
  outline: none;
}
.select {
  width: 200px;
  border: none;
  font: 400 1rem system-vi;
  padding: 10px 0px;
  cursor: pointer;
}
.sub {
  background: linear-gradient(to right, #2e95ff, #0061c6);
  color: white;
  border: none;
  font: 400 1rem system-vi;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.sub:hover {
  background: #0053a8;
}
